[Unit]
AssertPathExists=path_to_the_bot_directory
AssertPathIsDirectory=path_to_the_bot_directory
AssertDirectoryNotEmpty=path_to_the_bot_directory
AssertPathExists=path_to_the_bot_directory/index.php
AssertFileNotEmpty=path_to_the_bot_directory/index.php
After=network.target
Description=Service that run the script that manage @inginf_bot

[Service]
ExecStart=php index.php
Restart=on-failure
RestartSec=5s
Type=simple
User=my_user
WorkingDirectory=path_to_the_bot_directory

[Install]
Alias=inginfbot.service
WantedBy=multi-user.target
